/* line 3, ../sass/main.scss */
html {
  height: 100%;
}

/* line 7, ../sass/main.scss */
body {
  height: 100%;
  font-family: 'Ubuntu', sans-serif;
}

/* line 12, ../sass/main.scss */
h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 26px;
}

/* line 18, ../sass/main.scss */
p {
  font-size: 16px;
  line-height: 26px;
}

/* line 24, ../sass/main.scss */
.panel-land {
  color: #fff;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  background: #151515 url("../img/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 39, ../sass/main.scss */
.panel-land a, .panel-land a:focus, .panel-land a:hover {
  color: #fff;
}
/* line 43, ../sass/main.scss */
.panel-land .v-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 48, ../sass/main.scss */
.panel-land .v-center .h-center {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  padding: 30px;
}
/* line 55, ../sass/main.scss */
.panel-land .v-center .h-center .logo-container {
  background: #fff;
  padding: 6px;
  margin-bottom: 36px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 65, ../sass/main.scss */
.panel-land .v-center .h-center .logo-container img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* line 73, ../sass/main.scss */
.panel-land .v-center .h-center p {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8), 0px 1px 1px rgba(0, 0, 0, 0.8);
}
/* line 77, ../sass/main.scss */
.panel-land .v-center .h-center .btn {
  font-size: 24px;
  line-height: 1.7;
  padding: 10px 40px;
  margin-top: 16px;
  border-radius: 3px;
  font-size: 20px;
  text-shadow: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 400;
  background: none;
  border-color: #FC3C1E;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8), 0px 1px 1px rgba(0, 0, 0, 0.8);
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color background-color 0.2s ease-out;
}
/* line 95, ../sass/main.scss */
.panel-land .v-center .h-center .btn:hover {
  background: #D81E17;
  border-color: #D81E17;
  text-shadow: none;
}
@media (min-width: 756px) {
  /* line 105, ../sass/main.scss */
  .panel-land .h-center {
    width: 700px;
  }
}

/* line 113, ../sass/main.scss */
.panel-what .content {
  padding: 20px 0px;
}
/* line 117, ../sass/main.scss */
.panel-what .content .imgs {
  padding-top: 10px;
}
/* line 121, ../sass/main.scss */
.panel-what .content .imgs img {
  border: 3px solid #000;
}

/* line 128, ../sass/main.scss */
.panel-how {
  padding: 20px 0px;
  background: #eee;
}
/* line 132, ../sass/main.scss */
.panel-how .content {
  padding: 0px;
}
/* line 136, ../sass/main.scss */
.panel-how .content .map {
  padding-top: 10px;
}
/* line 140, ../sass/main.scss */
.panel-how .content .map img {
  border: 3px solid #000;
}

/* line 147, ../sass/main.scss */
.panel-apply {
  padding: 20px 0px;
}
/* line 152, ../sass/main.scss */
.panel-apply .content form {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 157, ../sass/main.scss */
.panel-apply .content form input {
  margin-bottom: 10px;
}
/* line 161, ../sass/main.scss */
.panel-apply .content form .btn-container {
  text-align: center;
}
/* line 164, ../sass/main.scss */
.panel-apply .content form .btn-container .btn {
  background: #FC3C1E;
  border: none;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* line 176, ../sass/main.scss */
.panel-apply .content .application-complete {
  text-align: center;
  font-weight: 700;
}

/* line 183, ../sass/main.scss */
.panel-sponsors {
  padding: 20px 0px;
  background: #eee;
}
/* line 187, ../sass/main.scss */
.panel-sponsors .content {
  padding: 0px;
}
/* line 191, ../sass/main.scss */
.panel-sponsors .content a {
  display: block;
  height: 100px;
  width: 100%;
  background: #fff;
  margin-top: 20px;
  border: 3px solid #000;
  text-align: center;
  padding-top: 30px;
  font-size: 22px;
  color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 212, ../sass/main.scss */
.panel-sitefooter {
  text-align: center;
  background: #222;
  color: #eee;
  padding: 10px;
}
