@import 'http://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900';
/* line 29, ../sass/styles.scss */
html {
  height: 100%;
}

/* line 33, ../sass/styles.scss */
body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  font-size: 18px;
  font-weight: 300;
}

/* line 41, ../sass/styles.scss */
h1 {
  font-weight: 700;
  font-size: 2.25em;
  margin: .5em 0;
}

/* line 47, ../sass/styles.scss */
p {
  font-size: 1em;
  line-height: 1.9em;
  margin: 1em 0;
}

/* line 54, ../sass/styles.scss */
.panel-land {
  color: #fff;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  background: #151515 url("../img/background.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* line 69, ../sass/styles.scss */
.panel-land a, .panel-land a:focus, .panel-land a:hover {
  color: #fff;
}
/* line 73, ../sass/styles.scss */
.panel-land .v-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
/* line 78, ../sass/styles.scss */
.panel-land .v-center .h-center {
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  padding: 40px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
/* line 86, ../sass/styles.scss */
.panel-land .v-center .h-center .logo-container {
  background: #fff;
  padding: 6px;
  margin-bottom: 36px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
/* line 96, ../sass/styles.scss */
.panel-land .v-center .h-center .logo-container img {
  width: 100%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
/* line 104, ../sass/styles.scss */
.panel-land .v-center .h-center p {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8), 0px 1px 1px rgba(0, 0, 0, 0.8);
  font-weight: 100;
}
/* line 109, ../sass/styles.scss */
.panel-land .v-center .h-center .btn {
  font-size: 1.5em;
  line-height: 2em;
  padding: .25em 2em;
  margin-top: 16px;
  border: 0;
  border-radius: 5px;
  font-size: 1.25em;
  text-shadow: none;
  font-weight: 400;
  background-color: #268b26;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #268b26), color-stop(50%, #40a540), color-stop(100%, #5abf5a));
  background-image: -webkit-linear-gradient(#268b26, #40a540, #5abf5a);
  background-image: linear-gradient(#268b26, #40a540, #5abf5a);
  background-size: 100% 200%;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.8) inset;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 25, ../sass/styles.scss */
.panel-land .v-center .h-center .btn:hover {
  background-position: 0 100%;
}
@media (min-width: 756px) {
  /* line 116, ../sass/styles.scss */
  .panel-land .h-center {
    width: 700px;
  }
}

/* line 123, ../sass/styles.scss */
.panel-what {
  position: relative;
}
/* line 126, ../sass/styles.scss */
.panel-what .content {
  padding: 30px 30px 60px 30px;
  max-width: 570px;
  float: right;
  margin-right: 50%;
}
/* line 132, ../sass/styles.scss */
.panel-what .laptop {
  position: absolute;
  left: 52%;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin-top: 0;
  background: url("../img/laptop.png") no-repeat left center;
  background-size: auto 90%;
}
@media (min-width: 0px) {
  /* line 146, ../sass/styles.scss */
  .panel-what .laptop {
    background-position: center top;
    background-size: cover;
    position: relative;
    margin-right: 0;
    height: 250px;
    left: 0;
  }
  /* line 154, ../sass/styles.scss */
  .panel-what .content {
    margin-right: auto;
    max-width: 100%;
    float: none;
    padding: 10px 10px 20px 10px;
  }
}
@media (min-width: 991px) {
  /* line 126, ../sass/styles.scss */
  .panel-what .content {
    padding: 30px 30px 60px 30px;
    max-width: 570px;
    float: right;
    margin-right: 50%;
  }
  /* line 132, ../sass/styles.scss */
  .panel-what .laptop {
    position: absolute;
    left: 52%;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    margin-top: 0;
    background: url("../img/laptop.png") no-repeat left center;
    background-size: auto 90%;
  }
}

/* line 166, ../sass/styles.scss */
.panel-how {
  background: #eee;
  position: relative;
}
/* line 171, ../sass/styles.scss */
.panel-how .map {
  position: absolute;
  width: 48%;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin-top: 0;
}
/* line 180, ../sass/styles.scss */
.panel-how .map #map {
  width: 100%;
  height: 100%;
}
/* line 186, ../sass/styles.scss */
.panel-how .content {
  margin-left: 50%;
  padding: 30px 30px 60px 30px;
  max-width: 570px;
}
/* line 190, ../sass/styles.scss */
.panel-how .content ul {
  font-size: .85em;
}
@media (min-width: 0px) {
  /* line 197, ../sass/styles.scss */
  .panel-how .map {
    position: relative;
    width: 100%;
    height: 300px;
  }
  /* line 202, ../sass/styles.scss */
  .panel-how .content {
    margin-left: auto;
    max-width: 100%;
    padding: 10px 10px 20px 10px;
  }
}
@media (min-width: 991px) {
  /* line 166, ../sass/styles.scss */
  .panel-how {
    background: #eee;
    position: relative;
  }
  /* line 171, ../sass/styles.scss */
  .panel-how .map {
    position: absolute;
    width: 48%;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    margin-top: 0;
  }
  /* line 180, ../sass/styles.scss */
  .panel-how .map #map {
    width: 100%;
    height: 100%;
  }
  /* line 186, ../sass/styles.scss */
  .panel-how .content {
    margin-left: 50%;
    padding: 30px 30px 60px 30px;
    max-width: 570px;
  }
  /* line 190, ../sass/styles.scss */
  .panel-how .content ul {
    font-size: .85em;
  }
}

/* line 213, ../sass/styles.scss */
.panel-apply {
  padding: 10px 0px 30px 0px;
}
/* line 218, ../sass/styles.scss */
.panel-apply .content form {
  margin-left: -15px;
  margin-right: -15px;
}
/* line 223, ../sass/styles.scss */
.panel-apply .content form input {
  margin-bottom: 10px;
}
/* line 227, ../sass/styles.scss */
.panel-apply .content form .btn-container {
  text-align: center;
}
/* line 230, ../sass/styles.scss */
.panel-apply .content form .btn-container .btn {
  font-size: 1.5em;
  line-height: 2em;
  padding: .25em 2em;
  margin-top: 16px;
  border: 0;
  border-radius: 5px;
  font-size: 1.25em;
  text-shadow: none;
  font-weight: 400;
  background-color: #268b26;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #268b26), color-stop(50%, #40a540), color-stop(100%, #5abf5a));
  background-image: -webkit-linear-gradient(#268b26, #40a540, #5abf5a);
  background-image: linear-gradient(#268b26, #40a540, #5abf5a);
  background-size: 100% 200%;
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.8), 0px 1px 0px rgba(255, 255, 255, 0.2);
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0px -1px 0px rgba(0, 0, 0, 0.8) inset;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
/* line 25, ../sass/styles.scss */
.panel-apply .content form .btn-container .btn:hover {
  background-position: 0 100%;
}
/* line 236, ../sass/styles.scss */
.panel-apply .content .application-complete {
  text-align: center;
  font-weight: 700;
}

/* line 243, ../sass/styles.scss */
.panel-sponsors {
  padding: 10px 0px 25px 0px;
  background: #eee;
}
/* line 247, ../sass/styles.scss */
.panel-sponsors .content {
  padding: 0px;
}
/* line 251, ../sass/styles.scss */
.panel-sponsors .content a {
  display: block;
  height: 100px;
  width: 100%;
  background: #fff;
  margin-top: 20px;
  border: 3px solid #000;
  text-align: center;
  padding-top: 30px;
  font-size: 22px;
  color: #000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

/* line 272, ../sass/styles.scss */
.panel-sitefooter {
  text-align: center;
  background: #222;
  color: #eee;
  padding: 10px;
}
