/*
 * Globals
 */

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: #333;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: #fff;
	border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
	height: 100%;
}
body {
	
	font-family: 'Gafata', sans-serif;
}

a {
	color: #FC3C1E;
}

a:hover {
	color: #C11B14;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	color: #fff;
	text-align: center;
	box-shadow: inset 0 0 100px rgba(0,0,0,0.5);
	
	display: table;
	width: 100%;
	height: 100%; /* For at least Firefox */
	min-height: 100%;

	background: #151515 url('../img/background.jpg') no-repeat center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

	.site-wrapper a,
	.site-wrapper a:focus,
	.site-wrapper a:hover {
		color: #fff;
	}
	
.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}

.learn_more {
}
.apply_form {
}

/* Padding for spacing */
.inner {
	padding: 30px;
}
.inner h1 {
	font-size: 48px;
}
.inner .lead btn {
	font-size: 24px;
	line-height: 1.7;
}


.social_tw {
	width: 26px;
	height: 26px;
	background: url('./img/social.jpg') center left no-repeat;
}
.social_fb {
	width: 26px;
	height: 26px;
	background: url('./img/social.jpg') center right no-repeat;
}

/*
 * Cover
 */

.cover {
	padding: 0 36px;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8), 0px 1px 1px rgba(0, 0, 0, 0.8);
}
.cover .btn-lg {
	padding: 10px 40px;
	border-radius: 3px;
	font-size: 22px;
	text-shadow: none;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 100;
	background: none;
	border-color: #FC3C1E;
	-webkit-transition:background-color 0.2s ease-out;
	transition:background-color background-color 0.2s ease-out;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.8), 0px 1px 1px rgba(0, 0, 0, 0.8);
}

.cover .btn-lg:hover {
	background: #D81E17;
	border-color: #D81E17;
	text-shadow: none;
}

.cover img {
	width: 100%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 36px;
}

.cover p {
	margin-bottom: 36px;
}

.apply_form .form-control {
	margin-bottom: 10px;
}

.apply_form .form-control:last-child {
	margin-bottom: 0px;
}

.apply_form .btn {
	background: #FC3C1E;
	border: none;
	width: 100%;
	padding: 15px;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: 1px;
}

#apply_modal .btn:hover {
	background: #C11B14;
}

/*
 * Footer
 */

.footer {
	color: #999;
	text-align: center;
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}
}

@media (min-width: 992px) {
	.cover-container {
		width: 700px;
	}
}

